
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: #EAEDED;
  color: #0F1111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #007185;
}

a:hover {
  color: #C45500;
  text-decoration: underline;
}